h1{
    font-family:Arial, Helvetica, sans-serif;
    text-align: right;
    border-color: black;
    border-style: solid;
    border-width: 4;
    padding: 20 20 20 20;
    float: right;
    text-decoration: none;
    position: relative;
    min-width: 100;
    max-width: 100;
    font-size: 25;
  }
  
h2{
  clear: both; 
  font-family:monospace;
  font-weight:200;
  text-align:left;
  font-size: 20;
  border-bottom: 2px solid black;
  padding: 10 10 10 0;
  text-decoration: none;
}

h3{
  clear: both; 
  font-family:Arial, Helvetica, sans-serif;
  text-align:left;
  padding: 10 20 10 20;
  font-size: 20
}

p{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 30 0 30;
}

.nav-class {
    position: fixed;
}

#nav-li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 4px;
    margin-top:-130;
    margin-left:20
}

.li {
  font-family: monospace;
}

.form-class{
  padding: 10px 10px 10px 10px;
  margin: 50px auto 50px auto;
  min-width: 300px;
  max-width: 600;
  border-style: solid;
  border-width: 4;
  border-color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.table-class{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16;
  padding: 50 0 50 0;
  max-width: 1000;
  /* margin: 0 auto 0 auto */
  text-align: justify;
}

.grid-container {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-items: center;
}


.img {
    pointer-events: none;
    display:block;
    width: 800;
    margin: 300 auto 200 auto; 
}

#content {
  margin: 0 auto 0 auto;
  max-width:800;
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: indianred;
    text-decoration: underline;
}

a:active {
    color: indianred;
    text-decoration: underline;
}

.link-class {
  color: indianred !important;
  text-decoration: none;
}

.link-class:visited {
  color: indianred !important;
  text-decoration: none;
}

.link-class:hover {
  color: indianred !important;
  text-decoration: underline;
}

html {
  overflow-y: scroll; 
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -20px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -20px;
}